@using PdvStock.Utils

<style>
    .b {
        color:black;
    }

</style>
<style>
    .perfis {
        display: block;
    }

    #inserir {
        display: none;
        margin-top: 10px;
    }

    .removerPerfil {
        cursor: pointer;
    }

    .perfis-list ul, .perfis-list li {
        list-style: none;
        padding: 0;
        margin: 3px 0;
    }

        .perfis-list ul li {
            margin: 4px 0 4px 25px;
        }

            .perfis-list ul li p {
                margin-left: 23px;
                width: auto;
            }

        .perfis-list li i {
            padding: 6px;
        }

    .perfis-list span {
        background-color: rgba(224, 224, 224, 0.91);
        padding: 5px;
    }
</style>
<center>
    <div class="panel panel-success" style="max-width:450px;margin-bottom:0;">
        <div class="panel-heading">
            <h3 class="panel-title">@Resources.Resource.MeusDados</h3>
        </div>
        <div class="panel-body b">
            <table>
                <tr style="text-align:center;">
                    <td>
                        <a @(StringUtil.SubstituirPrimeiraOccorrencia(DadosUsuario.UrlFoto(), "src", "href")) target="_blank"><img src='@DadosUsuario.UrlFoto()' class="img-rounded img-thumbnail" style="width:250px;height:200px" /></a>
                </td>
                </tr>
                <tr>
                    <td><br /><i class="fa fa-user" style="margin-right:5px;"></i>@DadosUsuario.GetNome()</td>
                </tr>
                <tr>
                    <td><i class="fa fa-building" style="margin-right:5px;"></i>@DadosUsuario.GetDadosUsuario().Departamento</td>
                </tr>
                <tr>
                    <td><a href="https://accounts.google.com/ServiceLogin?sacu=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&osid=1&service=mail&ss=1&ltmpl=default&Email=@DadosUsuario.GetDadosUsuario().Email#identifier" class="b" target="_blank"><i class="fa fa-envelope" style="margin-right:5px;"></i>@DadosUsuario.GetDadosUsuario().Email</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-phone" style="margin-right:5px;"></i>@DadosUsuario.GetDadosUsuario().Telefone</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-success" style="max-width:450px;margin-top:0;">
        <div class="panel-heading">
            <h3 class="panel-title">@Resources.Resource.MeusPerfis </h3>
        </div>
        <div class="panel-body b">
            <table style="text-align:left;">
                <tr>
                    <td>
                        <ul class="perfis-list" style="margin:0;padding:0;">
                            @if (DadosUsuario.LogaTudo())
                            {
                                <li>
                                    <i class="fa fa-plus btn-success exibir" style="cursor:pointer"></i><span class="title">Acessa Todos os Sistemas</span>
                                </li>
                            }
                            @if (DadosUsuario.GetDadosUsuario().PerfisUsuario != null)
                            {
                                foreach (var p in DadosUsuario.GetDadosUsuario().PerfisUsuario)
                                {
                                    <li>
                                        <i class="fa fa-plus btn-success exibir" style="cursor:pointer" onclick="$(this).parent().children('ul').toggle();"></i><span class="title">@p.Nome</span>
                                        <ul style="display:none;">
                                            @foreach (var lb in p.Liberacoes)
                                            {
                                                <li>
                                                    <i class="fa fa-plus btn-success exibir" style="cursor:pointer" onclick="$(this).parent().children('ul').toggle();"></i><span>@lb.Nome</span>
                                                    <ul style="margin-left: 23px;margin: 2px 0 10px 23px;display:none;">
                                                        @foreach (var a in lb.Acoes)
                                                        {
                                                            <li><span class="title">@a.Nome</span></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </td>
                </tr>
            </table>
         </div>
    </div>
</center>
<script>
    $(document).ready(function () {
        $('.exibir').click(function () {
            if ($(this).hasClass("btn-success")) {
                $(this).removeClass("fa-plus");
                $(this).removeClass("btn-success");
                $(this).addClass("fa-minus");
                $(this).addClass("btn-danger");
                
            } else {
                $(this).removeClass("fa-minus");
                $(this).removeClass("btn-danger");
                $(this).addClass("fa-plus");
                $(this).addClass("btn-success");
            }
        });
    });
</script>